{% if include.src %}
  {% if include.alt or include.caption %}
    {% assign alt = include.alt | default: include.caption | strip_html %}
    <figure>
      <img alt="{{ alt }}" src="{{ include.src }}" class="figure" loading="lazy" />
  {% else %}
      <img src="{{ include.src }}" class="figure" loading="lazy" />
  {% endif %}
  {% if include.caption %}
      <figcaption markdown="span">
      {{ include.caption }}
      </figcaption>
  {% endif %}
  </figure>
{% else %}
{% include prompt.html type="accent" text="`ERROR: Missing parameter(s) in figure`.<br/><br/>Make sure you provide the src parameter." %}
{% endif %}
