<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% if site.google-analytics %}
    {% include analytics.html %}
  {% endif %}
  <div class="o-wrapper">
    {{ content }}
  </div> <!-- /.o-wrapper -->
  <div class="c-top" data-icon='ei-chevron-up' data-size='s' title="Scroll To Top"></div> <!-- /.c-top -->
  {% include javascripts.html %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.13.2/katex.min.css" integrity="sha512-el2z+rjIj40JeIlKyqcoRjGNjvwHVlyahNQ1PhSs4PCztr6jJ4GgpjgN+1a++L9HZxhLXpa4eLG3ry976z0O2Q==" crossorigin="anonymous" />
</body>
</html>
